@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
    scroll-behavior: smooth;
    /* border: 1px solid red; */

}

body{
    text-align: center;
}
/* this is nav start */
nav {
    background-color: #000000;
    
    padding: 10px 40px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #282828;
    /* position: sticky;
    top:0;
    z-index: 10; */
}

nav ul {
    width: 50%;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

nav li:hover {
    text-decoration: underline;
    text-decoration-color: #90e075;;
    text-decoration-thickness: 2px;
    text-underline-offset: 5px;
    cursor: pointer;
}

nav li a {
    color: white;
    text-decoration: none;
}

h1 span {
    color:  #90e075;
}

nav p {
    font-size: 20px;
    display: none;
}

/* this is nav end */
/* this is hero section start */
.hero-section {
    min-height: 95vh;
    width: 100%;
    background-color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-section {
    height: 50vh;
    width: 50%;
    padding: 0px 60px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.text-section p {
    line-height: 28px;

}

.connect-btn {
    width: 200px;
    margin-top: 18px;
    background-color: #90e075;
    /* color: white; */
    padding: 10px 20px;
    font-weight: 700;
    border: none;
    border-radius: 20px;
    transition: all 0.5s ease-in-out;
}

.connect-btn:hover {
    cursor: pointer;
    background-color: #90e07574;
    color: white;
    transform: scale(103%);
}

.connect-btn i {
    padding-left: 5px;
}

.image-section {
    height: 80vh;
    width: 50%;
    padding: 40px;
    background-image: url('./Assets/image1.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

}

/* this is hero section end */
/*  this is about section start*/


#about-section {
    min-height: 100vh;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
}

#about-me {
    text-align: center;
}

#about-section h1 {
    width: 100%;
    color: white;
    font-size: 32px;
}

#about-section h1:after {
    content: "";
    position: absolute;
    top: 40px;
    right: 120px;
    height: 2px;
    width: 30%;
    background-color: #90e075;
}

#about-section h1::before {
    content: "";
    position: absolute;
    top: 40px;
    left: 120px;
    height: 2px;
    width: 30%;
    background-color: #90e075;
}


.text-section2 {
    height: 50vh;
    width: 50%;
    padding: 0px 60px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.image-section2 {
    height: 80vh;
    width: 50%;
    background-image: url('./Assets/image2.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

}

/*  this is about section end */
/* this is skills section start */
#skills-section {
    min-height: 100vh;
    background-color: black;
    position: relative;
}

#my-skills {
    text-align: center;
    color: white;
    font-size: 32px;
}

.skills-grid {
    padding: 90px 60px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}

.skills-item {
    padding: 5px 5px;
    background-color: #90e075;
    border-radius: 5px;
    color: white;
    text-align: center;
    border-radius: 50px;
}
.skills-item:hover{
    background-color: #90e0757b;

    border-inline: 1px solid white;
    transition: all 0.3s ease-in-out;
}



#skills-section h1 {
    color: white;
    text-align: center;
    font-size: 32px;
}

#skills-section h1:after {
    content: "";
    position: absolute;
    top: 24px;
    right: 150px;
    height: 2px;
    width: 30%;
    background-color: #90e075;
}

#skills-section h1::before {
    content: "";
    position: absolute;
    top: 24px;
    left: 150px;
    height: 2px;
    width: 30%;
    background-color: #90e075;
}

/* this is skills section end */
/* project section start */
#project-section {
    min-height: 100vh;
    padding: 0px 40px;
    background-color: black;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

#my-project {
    width: 100%;
}

.project-list {
    margin-top: 40px;

}

.project-card {
    height: 380px;
    width: 320px;
    padding: 10px;
    margin: 35px;
    background-color: #0B192C;
    color: white;
    border-radius: 10px;
    position: relative;
}

.project-card video {
    height: 250px;
    width: 300px;
}
.project-card image {
    height: 250px;
    width: 300px;
}

.project-card a{
    color: white;
    color: black;
    text-decoration: none;
}

#project-title {
    font-weight: 400;
    padding: 10px 0px;
    font-size: 15px;
}

.project-card p {
    font-size: 12px;
    margin: 10px 0px;
    padding: 0px 5px;
    background-color: white;
    color: black;
    text-align: center;
    border-radius: 20px;
    font-weight: 600;
    position: absolute;
    bottom: 125px;
    right: 10px;
}
.project-btn {
    background-color: #90e075;
    padding: 8px 10px;
    width: 100%;
    border: none;
    border-radius: 20px;
    font-weight: 600;
    color: white;
    

}

.project-btn i {
    padding-left: 5px;
    text-align: center;
    color: black;
}

.project-btn:hover {
    background-color: #568b44;
    color: white;
}



#project-section h1 {
    color: white;
    text-align: center;
    font-size: 32px;
}

#project-section h1:after {
    content: "";
    position: absolute;
    top: 24px;
    right: 150px;
    height: 2px;
    width: 30%;
    background-color: #90e075;
}

#project-section h1::before {
    content: "";
    position: absolute;
    top: 24px;
    left: 150px;
    height: 2px;
    width: 30%;
    background-color: #90e075;
}

/* project section end */

/* contact section start */
#contact-section{
    min-height: 80vh;
    background-color: black;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
#my-contact{
    width: 100%;
    color: white;
    text-align: center;
    font-size: 32px;

}
#contact-section h1:after {
    content: "";
    position: absolute;
    top: 24px;
    right: 150px;
    height: 2px;
    width: 30%;
    background-color: #90e075;
}

#contact-section h1:before {
    content: "";
    position: absolute;
    top: 24px;
    left: 150px;
    height: 2px;
    width: 30%;
    background-color: #90e075;
}
.contact-form{
    height: 80vh;
    width: 100%;
    padding: 0px 60px;
    padding: 20px;
}
.contact-form input{
    width: 100%;
    padding: 5px;
    margin: 10px 0px;
    border: none;
    border: 1px solid #90e075;
    border-radius: 10px;
    outline: none;
}
.contact-btn {
    background-color: #90e075;
    padding: 10px 10px;
    width: 100%;
    border: none;
    border-radius: 20px;
    font-weight: 600;


}

.contact-btn i {
    padding-left: 5px;
    text-align: center;
}

.contact-btn:hover {
    background-color: #68ac51;
    color: white;
}

.text-section3 {
    height: 80vh;
    width: 50%;
    padding: 0px 60px;
    color: white;
}
.contact-form textarea{
width: 100%;
height: 200px;
padding: 5px;
border: 1px solid #90e075;
outline: none;
border-radius: 10px;
margin-bottom: 30px;
}
.contact-form button{
    margin-top: 20px;
}
.image-section3 {
    height: 85vh;
    width: 50%;
    padding: 0px 40px;
    background-image: url('./Assets/contact.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

}
/* contact section end */

/* scroll-bar */
.scroll-top {
    height: 40px;
    width: 40px;
    background-color: #90e075;
    border-radius: 50%;
    display: grid;
    place-items: center;
    position: fixed;
    bottom: 30px;
    right: 30px;
}

.scroll-top i {
    /* color: white; */
    color: black;
}
.scroll-top i:hover{
    color: white;
}

.skills-icon {
    width: 50px;
    height: 50px;
}
footer{
    padding: 5px 10px;
    background-color: #0B192C;
    color: #887e7e;
    text-align: center;
    border:1px solid #887e7e88;
}
footer h1{
    font-size: 20px;
}
@media (max-width:768px) {

    /* media query for nav start */
    nav ul {
        display: none;
    }

    nav p {
        display: flex;
    }
    .hero-section {
        flex-direction: column-reverse;
    }

    .text-section {
        width: 100%;
        height: 70vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .text-section2 {
        width: 100%;
        height: 70vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .image-section {
        width: 80%;
    }

    #about-section {
        display: flex;
        justify-content: center;
    }

    .image-section2 {
        width: 80%;
    }

    #about-section h1:after {
        width: 50px;
        position: absolute;
        right: 100px;
        top: 25px;
    }

    #about-section h1:before {
        width: 50px;
        position: absolute;
        left: 100px;
        top: 25px;
    }

    #skills-section h1:after {
        width: 70px;
        position: absolute;
        right: 80px;
    }

    #skills-section h1:before {
        width: 70px;
        position: absolute;
        left: 80px;
    }

    #project-section h1:after {
        width: 70px;
        position: absolute;
        right: 80px;
    }

    #project-section h1:before {
        width: 70px;
        position: absolute;
        left: 80px;
    }

    #contact-section h1:after {
        width: 70px;
        position: absolute;
        right: 75px;
    }

    #contact-section h1:before {
        width: 70px;
        position: absolute;
        left: 75px;
    }

    .skills-grid {
        grid-template-columns: 1fr;
    }
    #contact-section {
        flex-direction:column;
    }
    .text-section3{
        width: 100%;
    }
    .contact-form{
        width: 100%;
    }
    .image-section3{
        width: 75%;
        height: 50vh;
    }
    #contact-section h1:after {
        width: 70px;
        position: absolute;
        right: 75px;
        top: 24px;
    }
    #contact-section h1:before {
        width: 70px;
        position: absolute;
        left: 75px;
        top: 24px;
    }

    }
    

/* media query for hero section end */